[submodule "Number-Shifting-Game-for-Linux-Environment-"]
	path = Number-Shifting-Game-for-Linux-Environment-
	url = https://github.com/jayprakashkumar1/Number-Shifting-Game-for-Linux-Environment-.git
